.about-us-section{
    padding:0 100px;
}

.about-us-big-header{
    font-size:35px;
    font-weight:600;
    white-space:nowrap;
}

.about-us-text{
    margin:0 auto;
}


.about-us-article{
    padding-top:30px;
}

@media (max-width:1140px){
    .about-us-big-header{
        font-size:25px;
    }

    .about-us-section{
        padding:0 50px;
    }
}
