.carousel-section{
    position:relative;
    padding-bottom:60px;
}

.carousel-text{
    position:absolute;
    left:130px;
    top: 35px;
    color:black;
    margin-top: 45px
}

.carousel-left-quote{
    left:250px;
    top:100px;
    text-align: center;

}

.carousel-right-quote{
    left:800px;
    top:100px;
    text-align: center;
}

.carousel-left-quote, .carousel-right-quote{
    position:absolute;
    color:grey;
    font-size:100px;
}

.w-100 {
    width: 50%!important;
}

.carousel-div{
    width:500px;
    height:450px;
}

@media (max-width:1200px){
    .carousel-text{
        top:100px;
        left:0;
    }

    .carousel-left-quote, .carousel-right-quote{
        display:none;
    }

    .w-100 {
        width: 60%!important;
    }
}

@media (max-width:940px){
    .w-100 {
        width: 80%!important;
    }
}



@media (max-width:5460px){
    .w-100 {
        width: 100%!important;
    }
}