.clean-theme-section{
    background-color:rgba(145, 104, 10, 1);
    padding:100px 0;
}

.clean-section-content{
    padding:0 0 0 70px;
}

.very-big-header-text{
    font-size:60px;
    font-weight:400;
    white-space:nowrap;
}

@media (max-width:653px){
    .clean-header-text{
        font-size:35px;
    }

    .clean-section-content{
        padding:0 0 0 30px;
    }
}

@media (max-width:680px){
    .clean-section-content{
        padding:0;
    }
}