.contact-us-line{
    height: 2px;
    background-color: #424242;
}

.contacts-form-input {
    width: 408px;;
    padding: 10px 7px;
    font-weight:600;
    border:none;
    background-color: #222327;
    color:white;
    outline: none;
    margin-top:15px;
    margin-bottom:10px;
}

.textarea{
    width:835px;
}

.field-1 , .field-2{
    margin-left:17px;
}

.contact-us-right{
    padding-left:80px;
}

.contacts-information{
    font-size:18px;
    font-weight:400;
    padding-top:40px;
}

@media (max-width:1200px){
    .textarea{
        width: 403px;
    }

    .contact-us-right{
        padding-left:0;
    }
}

.contact-us-section{
    padding:0 50px;
}

@media (max-width:1200px){
    .contacts-form-input {
        width: 408px;;
    }

}

@media (max-width:767px){
    .contact-us-section{
        text-align:center;
    }

    .field-1 , .field-2{
        text-align:center;
        margin:0 auto;
    }
}

@media (max-width:535px){
    .contacts-form-input {
        width:300px;
    }

}