.our-services-header-text{
    padding-top:10px;
}

.our-services-circle{
    border-radius:50%;
    background-color: #313338;
    width: 101px;
    height: 101px;
    margin:0 auto;
}

.our-services-article{
    padding-top:30px;
}

.our-services-section{
    padding:0 100px;
}

.our-services-circle{
    font-size:40px;
    color:chartreuse;
}

.our-services-circle i{
    margin-top:30px;
}


@media (max-width:600px){
    .our-services-section{
        padding:0 50px;
    }
}

