.our-skills-arc{
    width: 190px;
    height: 100px;
    border-radius: 100px 100px 0 0;
    border-top: 35px solid #1f937d;
    border-left:  35px solid #1f937d;
    border-right: 35px solid #1f937d;
    margin:0 20px;
    white-space:nowrap;
}



.our-skills-interest{
    margin:20px 0 0 40px;
}

.our-skills-role{

    margin-top:20px;

}

@media (max-width:1167px){
    .our-skills-arc{
        margin-bottom:75px;
    }
}