.our-team-section{
    background-color:rgba(145, 104, 10, 1);
    padding:100px 0;
}

.our-team-section-content{
    padding:0 0 0 70px;
}

.our-team-header{
    font-size:40px;
    font-weight:400;
}

@media (max-width:570px){
    .our-team-header{
        font-size:40px;
        font-weight:400;
    }

    .our-team-section-content{
        padding:0;
    }
}