.portfolio-button{
    display: inline-block;
    padding: 15px 3px;
    min-width:150px;
    border:0;
    text-transform: uppercase;
    font-weight:700;
    transition:0.5s;
    color:#ffffff;
    text-align:center;
    border-radius:3px;
    background-color: #313338;
    margin-top:5px;
}

.portfolio-button:hover{
    background-color: #1f937d;
    transition:0.5s;
}

.portfolio-section{
    padding:0 100px;
}

.portfolio-article{
    background-color: #313338;
    margin-top:25px;
    height:270px;
    position:relative;
    text-align:center;
}

.portfolio-hover-block{
    background-color: #212121;
    transition:0.5s;
    opacity:1;
    width:200px;
    height:200px;
    position:absolute;
    margin-top:35px;
}

.portfolio-hover-block:hover{
    opacity:1;
    transition:0.5s;
}



@media (max-width:1040px){
    .portfolio-hover-block{
        width:140px;
        height:150px;
    }
}

@media (max-width:767px){
    .portfolio-hover-block{
        width:200px;
        height:200px;
    }
}

@media (max-width:1200px){
    .portfolio-section{
        padding:50px;
    }
}