.pricing-table-section{
    background-color:rgba(145, 104, 10, 1);
    padding:100px 0;
}

.pricing-table-section-content{
    padding:0 0 0 70px;
}

.pricing-table-header{
    font-size:60px;
    font-weight:400;
}

.pricing-table-big-header{
    font-size:60px;
    font-weight:800;
}

@media (max-width:530px){
    .pricing-table-section-content{
        padding:0;
    }

    .pricing-table-header{
        font-size:50px;
        font-weight:400;
    }

    .pricing-table-big-header{
        font-size:40px;
        font-weight:800;
    }

}