.welcome-section{
    background-color: #955826;
    padding:170px 0;
}

.welcome-header{
    font-size:60px;
    font-weight:400;
}

.welcome-text-header{
    font-weight:800;
    font-size:50px;
}

@media (max-width:530px){
    .welcome-header{
        font-size:40px;
        font-weight:400;
    }
}